body {
    margin: 0px;
}

/* footer {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: blue;
}  */


.navbar {
    /* float: right; */
    position: relative;
    background-color: #0000ff; /* blue */
    height: 70px;
    width: 100%;
    padding: 10px 20px;
    box-sizing: border-box;
    /* margin-top: 0px; */
    margin-bottom: 35px;
    overflow: hidden;
}

.navbar a {
    float: right;
    text-align: center;
    padding: 16px 15px;
    color: white;
    font: 17px "Arial", arial;
    text-decoration: none;
    /* margin-bottom: 15px; */
    /* margin-top: 12px; */
}

.navbar a:hover {
    background-color: white;
    color: black;
    /* padding: 7px 10px;  */
    font-size: 17px;
}

/* .navbar > a > img {
    width: 45px;
    height: 45px;
    margin: none;
}

.navbar > a > img:hover {
    background-color: black;
} */

.navbarimg img {
    float: left;
    height: 50px;
    /* width: 45px; */
    margin: 0 40px;
}

.navbarimg img:hover {
    background-color: none;
}

.footer {
    position: relative;
    background-color: #f2f4f7;
    height: 50px;
    width: 100%;
    padding: 20px 0px 10px 0px;
    /* box-sizing: border-box; */
    margin-top: 20px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

.footerbody {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.footer a {
    float: left;
    text-align: center;
    padding: 10px 15px 20px 15px;
    color: #8a95a6;
    font: 17px "Arial", arial;
    text-decoration: none;
    /* margin-bottom: 15px; */
    /* margin-top: 12px; */
    /* border: 2px solid black; */
}

.footer a:hover {
    /* background-color: white; */
    color: black;
    /* padding: 7px 10px;  */
    font-size: 17px;
}

.footer img {
    float: left;
    height: 40px;
    /* width: 45px; */
    /* margin: 0 40px; */
    position: relative;
    left: 30%;
    /* display: inline-block; */
}

iframe, video {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

a {
    color: blue;
}

h1 {
    font: bold 50px "Arial", arial;
    /* text-align: center; */
    /* clear: both; */
    color: #007bff;
    /* #0096ff; */
    margin: none;
}

h2 {
    font: 25px bold "Arial", arial;
    /* text-align: center; */
    color: #69b1ff;
    /* #8cd0ff; */
}

h3 {
    font: 17px bold "Arial", arial;
    margin-top: 34px;
    clear: both;
}

hr {
    width: 90%;
    margin: 30px;
    margin-left: auto;
    margin-right: auto;
}

table {
    border: 2px solid white;
    background-color: #a8d2ff;
    /* #b9e0fa; */
    border-collapse: collapse;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    /* margin-top: 50px; */
    margin-bottom: 50px;
    font: 15px "Arial", arial;
    text-align: center;
}

th {
    background: blue;
    color: white;
    padding: 10px;
    margin: 3px;
    border: 2px solid white;
}

td {
    border: 2px solid white;
    padding: 15px;
}

td:hover {
    background-color: #69b1ff;
    color: white;
}

td > a:hover {
    background-color: none;
    color: white;
}

/* tr:nth-child(even) {
    background-color: #e1e1e1;
} */

.pagebody {
    text-align: left;
    font: 15px "Arial", arial;
    margin: 20px 60px;
    line-height: 1.75;
}

.pagebody > h3 > a {
    padding: 10px;
    background-color: #a8d2ff;
    border-radius: 5px;
    color: black;
    text-decoration: none;
}

.pagebody > h3 > a:hover {
    background-color: #69b1ff;
    color: white;
}

.pagebody > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

code, pre {
    background-color: #e1e1e1;
    padding: 10px;
    border-radius: 10px;
    margin: 20px 0px;
    width: 90%;
}
